# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# Flask instance
instance/

# Database (if local sqlite used)
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Upload folders (optional safety)
static/uploads/
static/replies/

__pycache__/
*.pyc